.all-wrapper {
  height: 100vh;
  .main {
    padding: 0 50px 50px;
    .slogan {
      font-size: 22px;
    }
    .details {
      font-size: 12px;
      padding: 20px 0;
    }
    .advert {
      font-size: 16px;
    }
    .form-group {
      padding: 20px 0;
      .button {
        margin: 10px 0;
        padding: 8px 40px;
        background-color: $teal;
        color: #fff;
      }
    }

  }
}

@media (min-width: 900px) {
  .all-wrapper{

    .main {
      display: flex;
      flex-direction: column;
      align-content: space-around;
      border: 3px solid pink;
    }
  }

}